<table border=1>
    <tr>
        <th>device ID</th>
        <th>highscore</th>
    </tr>
    {% for score in scores %}
    <tr>
        <td>{{score["dev_eui"]}}</td>
        <td>{{score["distance"]}}</td>
    </tr>
    {% endfor %}
</table>