<table border=1>
    <tr>
        <th>device ID</th>
        <th>highscore</th>
    </tr>
    {% for score in scores %}
    <tr>
        <td><a href="map?dev_eui={{score['dev_eui']}}">{{score['dev_eui']}}</a></td>
        <td>{{score["distance"]}}</td>
    </tr>
    {% endfor %}
</table>